{% extends 'base.html' %}
{% load static %}

{% block title %}Database Schema: {{dbObj.name}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/databaseSchema.css' %}">

<div class="header">
  <h1>Database Schema: {{dbObj.name}}</h1>
</div>

<div class="container">
  {% for table_name, columns in schema.items %}
    <div class="table-container">
      <h2 class="table-title">{{ table_name }}</h2>
      <table class="schema-table">
        <thead>
          <tr>
            <th>Column Name</th>
            <th>Data Type</th>
            <th>Constraints</th>
          </tr>
        </thead>
        <tbody>
          {% for column in columns %}
          <tr>
            <td>{{ column.name }}</td>
            <td>{{ column.type }}</td>
            <td>{{ column.constraints|default:"None" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}