{% extends 'base.html' %}
{% load static %}
{% block title %}Management{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/management.css' %}">

<div class="management-container">
    <h1>Database Management</h1>
    <div class="dropdown-upload-container">
        
        <div class="dropdown-container">
            <label for="database-dropdown">Select Current Database:</label>
            <select id="database-dropdown" class="dropdown">
                <option value="" disabled selected>Select a database</option>
                <option value="{db.id}">Database 1</option>
            </select>
        </div>
      
        <div class="database-upload-card">
            <a class="button upload-button" href="{% url 'upload_database' %}">Upload New Database</a>
        </div>
    </div>

    <div class="database-info">
        {% for database in databases %}
        <div class="database-card">
            <h2>{{ database.name }}</h2>
            <p>Uploaded by: {{ database.user.username }}</p>
            <p>Type: {{ database.type.name }}</p>
            <p>Uploaded at: {{ database.uploaded_at }}</p>
            <p>Size: {{ database.size }} bytes</p>
            <div class="database-buttons">
                <button class="button delete-button">Delete Database</button>
                <button class="button upload-button">Upload Sample Database</button>
            </div>
        </div>
        {% endfor %}
        <div class="database-card">
            <h2>Database Name</h2>
            <p>Upload sample to this database</p>
            <div class="database-buttons">
                <button class="button delete-button">Delete Database</button>
                <button class="button upload-button">Upload Sample Database</button>
            </div>
        </div>
    </div>
{% endblock %}
