{% extends 'base.html' %}
{% load static %}
{% block title %}Query Section{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/query.css' %}">

<div class="management-container">
    <h1 class="h1-heading">Database Management</h1>
    <div class="container">
        <h1>Enter a SQL Query</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="dropdown-container">
              <label for="selected_database_sql">Select Current Database:</label>
              <select name="selected_database" id="selected_database_sql" class="dropdown">
                  <option value=""  selected>Select a database</option>
                  {% for db in databases %}
                      <option value="{{ db.id }}">{{ db.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <textarea id="sql-input" required name="SQL_text" placeholder="Enter SQL Query" autofocus autocomplete="off" oninput="adjustRows(this)"></textarea>
          <input type="submit" name="sql_query" value="Submit">
        </form>
    </div>

    <div class="container">
        <h1>Enter a Natural Language Query</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="dropdown-container">
              <label for="selected_database_nl">Select Current Database:</label>
              <select name="selected_database" id="selected_database_nl" class="dropdown">
                  <option value="" disabled selected>Select a database</option>
                  {% for db in databases %}
                      <option value="{{ db.id }}">{{ db.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <textarea id="nl-input" required name="NL_text" placeholder="Enter Natural Language Query" autofocus autocomplete="off" oninput="adjustRows(this)"></textarea>
          <input type="submit" name="nl_query" value="Submit">
        </form>
    </div>
</div>

<script src="{% static 'javaScript/query.js' %}"></script>

{% endblock %}
