{% load static %}
<!-- {% block title %}Secret Code Alpha Test{% endblock %} -->
<title>Secret Code Alpha Test</title>
{% block content %}
<style>
  body {
    background-image: url('{% static "images/hero.png" %}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.input-group {
    display: flex;
    align-items: center;
}

input {
    min-height: 40px;
    max-width: 250px;
    color: #000; /* Changed to black for better readability */
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 5px 0 0 5px;
    padding: 10px;

}

button {
    padding: 11.5px 20px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: -7px; /* Remove the space between the input and button */
}

button:hover{
  background-color: #5e5dcd;
}

input:focus, button:focus-visible {
  border-color: #3898EC;
  outline: none;
}


</style>
<div class="input-group">
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Your email address">
        <button type="submit">Notify Me!</button>
    </form>
</div>


{% endblock %}
