{% extends 'base.html' %}
{% load static %}
{% block title %}Upload Database{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/upload_database.css' %}">

<div class="management-container">
  <h1>Upload Database</h1>
  
  <!-- Loading spinner element -->
  <div id="loading-spinner" class="loader">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
  </div>

  <form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="dropdown-container">
      <label for="database-name">Database Name:</label>
      <input type="text" name="database_name" class="dropdown" id="database-name" placeholder="Database Name" required>
    </div>
    <div class="dropdown-container">
      <label for="database-type">Current Available Database:</label>
      <select name="database_type" id="database-type" class="dropdown" required>
        <option value="" disabled selected>Select a database</option>
        {% for db_type in Database_type %}
        <option value="{{ db_type.id }}">{{ db_type.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="dropdown-container">
      <label for="database-type">Database Host Type:</label>
      <select name="hostType" id="database-type" class="dropdown" required>
        <option value="" disabled selected>Select a Host</option>
        {% for choice in db_hosts %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="database-file">Upload File:</label>
      <div class="file-input-wrapper">
          <input type="file" name="database_file" id="database-file" class="file-input">
          <span class="file-input-text">Choose a file</span>
          <span class="file-input-button">Browse</span>
      </div>
      <p class="help-text">
          <i class="fas fa-info-circle"></i>
          If not SQLite, create an object and configure it later based on the provided database type.
          Leave blank for server databases Postgrass and others; create object/upload file for others.
      </p>
    </div>
    
    <div class="button-group">
      <button class="button upload-button" type="submit">Upload</button>
      <a href="{% url 'management' %}" class="button back-button">Back</a>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const fileInput = document.querySelector('.file-input');
    const container = document.querySelector('.file-input-wrapper');
    const form = document.querySelector('form');
    const spinner = document.querySelector('#loading-spinner');

    fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) {
            container.classList.add('uploaded');
            container.querySelector('.file-input-text').textContent = fileInput.files[0].name;
        }
    });

    form.addEventListener('submit', function () {
        spinner.style.display = 'flex';
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('upload-form');
    const spinner = document.getElementById('loading-spinner');

    form.addEventListener('submit', function () {
        form.style.display = 'none'; // Hide the form
        spinner.style.display = 'flex'; // Show the spinner
    });
  });
</script>
{% endblock %}
