/* Variables for theming and consistency */
:root {
  --bg-color: #f2f2f2;
  --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-text-color: #333;
  --secondary-text-color: #555;
  --border-color: #ccc;
  --accent-color: #005bb5;
  --hover-color: #007acc;
  --active-color: #fff;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.527);
  --delete-color: #e74c3c;
  --delete-hover-color: #c0392b;
  --upload-color: #2ecc71;
  --upload-hover-color: #27ae60;
  --connection-color: #800080;
  --schema-color: #626fe6;
}

/* Global Styles */
body {
  background-color: var(--bg-color);
  font-family: var(--font-stack);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.management-container {
  margin-top: 0;
}

/* Container for database cards */
.database-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 1.5rem;
}

/* Individual database card */
.database-card {
  margin-top: 0.5rem;
  background-color: var(--active-color);
  padding: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: left;
  transition: background-color 0.3s ease;
  /* width: 850px; */
}

/* Card content styles */
.database-card h2 {
  margin-top: 0;
  color: var(--accent-color);
}

.database-card p {
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-left: 4px solid var(--accent-color);
  border-right: 5px solid hsla(39, 100%, 50%, 0.856);
  border-radius: 4px;
}

.database-card p:hover {
  background-color: #f1f1f1;
}

.database-upload-card a {
  text-decoration: none;
}

/* Button container within cards */
.database-buttons {
  display: flex;
  gap: 10px;
}

/* Button styles */
.button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button {
  background-color: var(--delete-color);
  color: #fff;
}

.delete-button:hover {
  background-color: var(--delete-hover-color);
}

.upload-button {
  background-color: var(--upload-color);
  color: #fff;
}

.upload-button:hover {
  background-color: var(--upload-hover-color);
}

.connection-button {
  background-color: var(--connection-color);
  color: #fff;
}

.connection-button:hover {
  background-color: #800080a4;
}

.schema-button {
  background-color: var(--schema-color);
  color: #fff;
}

.schema-button:hover {
  background-color: rgba(1, 120, 255, 0.712);
}

#management-page-h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
  color: var(--accent-color);
  text-align: center;
  margin-top: 2%;
}

.dropdown-upload-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Dropdown styles */
.dropdown-container {
  margin-bottom: 2rem;
  text-align: left;
  width: 40%; /* Make the dropdown container full width */
}

.dropdown-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.dropdown {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  border-color: hsla(240, 100%, 50%, 0.33);
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--active-color);
  color: var(--primary-text-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px auto;
  cursor: pointer;
}

.dropdown:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 91, 181, 0.2);
}

.dropdown:hover {
  border-color: var(--hover-color);
}

.home-container {
  text-align: center;
  padding: 20px;
  margin-top: 1rem;
}

.hero-section {
  background: linear-gradient(to right, #b34949, #8f94fb);
  color: white;
  padding: 80px;
  border-radius: 10px;
  margin-bottom: 30px;
  /* position: relative; */
}
