body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}




header {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: .5rem;
  position: relative;
  bottom: 0;
}

.navbar {
  display: flex;
  height: 45px;
  align-items: center;
  background-color: #005bb5;
  padding: 8px 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid hsla(51, 100%, 75%, 0.641);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 5px 6px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;  */
    padding: 4px 5px;
  }
}


.nav-buttons {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: hsl(0, 2%, 33%);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.nav-link i {
  margin-right: 8px;
}

.nav-link:hover {
  background-color: #005bb5;
  color: #fff;
  transition: .5s ease-in-out;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.logo-link {
  text-decoration: none;
}

.logo {
  display: inline;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.user-actions i {
  color: white;
  font-size: 20px;
}

.user-actions a {
  text-decoration: none;
}

.auth-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8.5px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-button:hover {
  background-color: white;
  color: #005bb5;
}

.username {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Custom Alerts */

.custom-alerts {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.custom-alert-warning {
  background-color: #ffcc00;
  color: #333;
}

.custom-alert-info {
  background-color: #d9edf7;
  color: #31708f;
}

.custom-alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.custom-alert-error {
  background-color: #ff0000;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}


.custom-alert-info {
  background-color: hsla(193, 97%, 48%, 0.633);
  color: hsla(0, 0%, 0%, 0.674);
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
  position: absolute;
  right: 10px;
}

.userProfile-settings {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: hsl(202, 100%, 45%);
  width: 300px;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-family: monospace;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 1000;
}
.userProfile-settings .active{
  color: black;
  background-color: black;
}

.userProfile-settings strong{
  color: hsla(0, 0%, 100%, 0.76);
  font-weight: bolder;
  font-size: large;

}

