/* Variables for theming and consistency */
:root {
  --bg-color: hsla(237, 51%, 8%, 0.934);
  --text-color: #cccccc;
  --header-bg-color: #007acc;
  --header-text-color: #ffffff;
  --row-hover-color: #264f78;
  --border-color: #3f3f3f;
  --accent-color: #ff4081;
}

body {
  background-color: var(--bg-color);
  font-family: 'Consolas', 'Courier New', monospace;
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
  width: 85%;
}

/* Table Styles */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

th {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  position: sticky;
  top: 0;
  font-size: small !important;
}

tbody tr:hover {
  background-color: var(--row-hover-color);
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #242424;
}

tr:last-child td {
  border-bottom: none;
}

/* Adding animations */
/* Adding animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Applying the animation */
.fade-in-element {
  animation: fadeIn 1s ease-out both;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    color: var(--text-color);
  }

  tr {
    border-bottom: 1px solid var(--border-color);
  }
}
